{% extends 'layout_front.html.twig' %}

{% block title %}Nouveau vote{% endblock %}
{% block body %}

    {% include 'vote/_titre.html.twig' %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Catégorie: {{ categorie }}</h3>
        </div>

        <div class="card-body">
            <p class="text-muted card-text">{{ categorie.description|nl2br }}
            </p>

            <br/>
            <div class="alert alert-info">
                Donnez 2 points au premier<br/>
                Donnez 1 point au deuxième
            </div>
            <br/>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% set i = 0 %}
            <div class="card-deck">
                {% for candidat in candidats %}
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <h3>{{ candidat }}</h3>
                    </div>
                    {% include 'vote/_detail.html.twig' %}
                    <div class="card-footer">
                        <small class="text-muted">Attribution des points</small>
                        <label>
                            <input type="number" min="0" max="2" name="points[{{ candidat.id }}]" value="0">
                        </label>
                    </div>
                </div>

                {% if i == 1 %}
            </div>
            <div class="card-deck">
                {% set i = 0 %}
                {% else %}
                    {% set i = i + 1 %}
                {% endif %}
                {% else %}
                    <p class="alert alert-danger">Aucun candidats pour cette catégorie !</p>
                {% endfor %}
            </div>

            <button class="btn btn-primary" type="submit"><i class="far fa-save"></i> Enregistrer mon vote</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
