{% extends 'layout_front.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>{{ candidat }}</h2>
        </div>
        <div class="card-body">

            {% include 'candidat/_actions.html.twig' %}

            <p>
                {{ candidat.description|nl2br }}
            </p>

            <h3 class="text-success">Sport</h3>
            {{ candidat.sport }}
            <h3 class="text-success">Palmarès</h3>
            {{ candidat.palmares|nl2br }}

            <h3 class="mt-2 text-success">Catégorie</h3>
            {{ candidat.categorie }}
            <br/>

        </div>
    </div>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
