<li class="nav-item active">
    <a class="nav-link" href="{{ path('merite_home') }}">Accueil <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('candidat_index') }}">Candidat</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('club_index') }}">Club</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('sport_index') }}">Sport</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('categorie_index') }}">Catégorie</a>
</li>