<li class="nav-item active">
    <a class="nav-link" href="{{ path('merite_home') }}">Accueil <span class="sr-only">(current)</span></a>
</li>
{% if is_granted('ROLE_MERITE_ADMIN') %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" title="Paramètres"> <i class="fas fa-ellipsis-v"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item"
               href="{{ path('vote_index') }}">Les votes</a>
            <a class="dropdown-item"
               href="{{ path('candidat_index') }}">Les candidats</a>
            <a class="dropdown-item"
               href="{{ path('club_index') }}">Les clubs</a>
            <a class="dropdown-item"
               href="{{ path('sport_index') }}">Liste des sports</a>
            <a class="dropdown-item"
               href="{{ path('categorie_index') }}">Les catégories</a>
            <a class="dropdown-item"
               href="{{ path('merite_user_index') }}">Les utilisateurs</a>
        </div>
    </li>
{% endif %}